

#text
{
  position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  color: white;
}
#overlay {
  position: absolute;
  top: 20px;
  left: 20px;
 
  z-index: 100;
}

.full-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}


.blurred-circle {
  position: absolute;
  width: 5rem;  /* 20 * 0.25rem */
  height: 5rem;
  border-radius: 50%;
  filter: blur(4px);
  transition: filter 0.5s ease;
  background-color: transparent; /* Tailwind bg-blue-500 */
  z-index: 20;
}

.blurred-circle:hover,
.blurred-circle.active { /* Equivalent to state && 'blur-0' */
  filter: blur(0);
}


#card
{
  margin-top: 50px;
  height: 75vh;
  width: 500px;
  align-items: center;
  
}
#list
{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50px;
}
